.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1%;
}

@media only screen and (max-width: 768px) {
    .btn {
        gap: 8px;
        padding: 2%;
    }
}

@media only screen and (max-width: 480px) {
    .btn {
        flex-direction: column;
        gap: 10px;
        padding: 3%;
    }
}

